 
@media (min-width: 768px) {

  .container {
    max-width: 768px;
    margin: 0 auto;
  }

  .bg-img {
    background-image: url("../img/foto.png");
    height: 700px;
    
  }

  .height {
    height: 700px;
  }

  .ul-list {
    max-width: 100%;
    justify-content: space-between;
  }

  .unvisible {
    display: block;
    width: 75%;
  }

  

  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 13.99px;
    border-radius: 20px;
    margin-top: 37px;
  }

  .headder-title {
    font-size: 52px;
  }
  .headder-subtitle {
    font-size: 24px;
  }

  .footer-wrapper {
    padding-top: 38px;
    padding-bottom: 40px;
  }

.btn-other {
  width: 188px;
}
}

 @media (min-width: 992px) {

  .container-fluid {
    padding: 0;
    margin: 0;
    
  }

.container {
   max-width: 992px;
   
  }

  .bg-img {
    background-image: url("../img/foto.png");
    height: 700px;
    
  }

  .row {
   margin: 0 auto;
   max-width: 940px;
    
  }

.box-partner{
  justify-content: flex-start;
}

  .ul-list {
    max-width: 100%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .unvisible {
    display: block;
    width: 82%;
  }

  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 37px;
  }

  .headder-title {
    font-size: 40px;
  }

  .headder-subtitle {
    font-size: 23px;
    width: 380px;
  }

  .footer-wrapper {
    padding-top: 38px;
    padding-bottom: 73px;
  }

  .btn-other {
    width: 188px;
  }
}