 /*Стилизация под расширение 768px */

@media screen and (min-width: 480px) {
  .container-fluid {
    background-image: url("../img/foto.png");
  }
  .container {
    max-width: 480px;
    margin: 0 auto;
    min-height: 542px;
    
  }

  .headder-wrapper {
  position: absolute;
  
  }

  .bg-img {
    width: 100%;
    height: 700px;
  object-fit: cover;
  }

  .nav-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
    min-width: 480px; 
  }

  .logo-wrapper {
    width: 490px; 
  }

  .img-logo {
    width: 180px;
    height: 20px;
   display:inline-block ;
    position: relative;
    top: 3px;
    
  }

  .ul-item {
    justify-content: flex-end;
  }

  .img-logo-mob {
    display: none;
  }

  .logo-center {
    min-width: 0;
    max-width: 540px;
  }

  .aside-wrapper {
    width: 100%;
  }

  .title {
    font-size: 52px;
    margin-top: 223px;
  }

  .subtitle {
    font-size: 24px;
  }

  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 36px;
  }

  .section-wrapper {
    margin-top: 70px;
    min-width: 462px; 
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .box-partners {
    min-width: 442px; 
    max-width: 492px; 
    margin: 0 auto;
  }

  .fotter-wrapper {
    padding-top: 38px;
    padding-bottom: 40px;
  }
}

/* Стилизация под расширение 1440px */
@media screen and (min-width: 961px) {

  .container-fluid {
    min-height: 700px;
    background-image: url("../img/foto.png");
  }
  .container {
    max-width: 940px;
  }
  

  .nav-wrapper {
    max-width: 940px;
    min-width: 840px;
  }
  .logo-wrapper {
    width: 760px;
  }

  .img-logo-mob {
    display: none;
  }
  .img-logo {
    width: 180px;
    height: 20px;
    display: block;
  }
  .bg-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }

  .title {
    font-size: 52px;
    margin-top: 223px;
  }

  .subtitle {
    font-size: 24px;
  }
  .btn-find {
    width: 225px;
    background-color: #ff4e50;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 36px;
  }
  .section-wrapper {
    margin-top: 70px;
    min-width: 940px;
    max-width: 940px; 
    margin-left: auto;
    margin-right: auto;
  }
  .box-partners {
 
    min-width: 940px;
    max-width: 940px; 
    margin-left: auto;
    margin-right: auto;
  }
  .fotter-wrapper {
    padding-top: 38px;
    padding-bottom: 72px;
  }
}