/* Общие настройки html */

body {
   margin: 0 auto;
   padding: 0;
       
}

  html{
  box-sizing: border-box;
  font-size: 0;
  font-weight: inherit;
  }
  
     /* Обвертка*/
   
  .container-fluid{
  background-color: white;
   }


/*Контейнер*/
  .container {
   width: 100%;
   margin:  auto;
   
 
  }
/* Настройки сетки */

.size {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  justify-content: center;
}
  
/* Фон*/

.bg {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}

/* Задаем фоновое изображение */

.bg-img {
width: 100%;
height: 541px;
background-image: url("../img/mobile.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
display: inline-block;
background-color: black;
}

.height {
  height: 540px;
}

/* Навигация */

.ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  min-width: 0;
  max-width: 767px;
  box-sizing: border-box;
  line-height: 1px;
}

.nav-link {
  display: block;
  width: 86px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 17px;
  font-size: 14px;
  line-height: 28px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.nav-link::first-letter {
  text-transform: uppercase;
}

.nav-link:hover {
  color: white;
  border: 2px solid white;
  border-radius: 17px;
}

.img-logo {
  margin-top: 172px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 28px;
}

.unvisible {
  display: none;
  margin: 0;
  padding: 0;
}

.headder-title {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-size: 30px;
  margin-top: 170px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.headder-subtitle {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  margin-top: 18px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn-find {
  width: 280px;
  height: 44px;
  background-color: #ff4e50;
  font-size: 14px;
  line-height: 44px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
}

.btn-find::first-letter {
  text-transform: uppercase;
}

.btn-find:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
}

/* Основной контент */
.wrapper-content {
  margin-left: auto;
  margin-right: auto;
  
}

.content-title {
  font-size: 22px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 71px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.content-title::first-letter {
  text-transform: uppercase;
}

.box-partner {
  width: 100%;
  margin-top: 58px;
}

.img-partner-1 {
  background-image: url("../img/partner\ 1.png");
  background-position: center center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.img-status-1 {
  height: 32px;
  width: 32px;
  background-color: #ff4e50;
  background-image: url("../img/tv.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-partner-2 {
  background-image: url("../img/partner2.png");
  background-position: center center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.img-status-2 {
  height: 32px;
  width: 32px;
  background-color: #1cd7ad;
  background-image: url("../img/cup.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-partner-3 {
  background-image: url("../img/partner\ 3.png");
  background-position: center center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.img-status-3 {
  height: 32px;
  width: 32px;
  background-color: #ffa507;
  background-image: url("../img/tube.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.img-partner-4 {
  background-image: url("../img/partner\ 4.png");
  background-position: center center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.img-status-4 {
  height: 32px;
  width: 32px;
  background-color: #4e73db;
  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.partner-name {
  font-size: 14px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.partner-description {
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin-top: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* Футтер */
.footer-wrapper {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 57px;
  background-color: white;
}

.btn-other {
  font-size: 14px;
  color: #ff4e50;
  width: 280px;
  height: 36px;
  border: none;
  background-color: #ff4e50;
  border-radius: 17px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-other::first-letter {
  text-transform: capitalize;
}

.btn-other:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
}

