/* Общие настройки html */

body {
   margin: 0 auto;
   padding: 0;
  
       
}

  html{
    box-sizing: border-box;
  }
  
  
   /* Обвертка*/
  .container-fluid{
   width: 100%;
   min-height: 542px;
  /*height: 700px;*/
   background-image: url("../img/mobile.png");
   background-repeat: no-repeat;
   background-size: cover;
  display: inline-block;
  background-color: black;
  
  }

/*Контейнер*/
  .container {
   width: 100%;
   margin:  auto;
   
 
  }

  
/* Задаем цвет фона обертки*/
.site-wrapper {
  background-color: white;
 position: relative;
}

/* Задаем фоновое изображение */

.bg-img {
  width: 100%;
  height: 541px;
  background-color: black;
  display: inline-block;
}

/* Выносим вперед и центрируем блок хэддер */
.headder-wrapper {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Стилизируем навигацию */
.ul-item {
  list-style: none outside;
  padding: 0;
  margin: 0;
  padding-top: 45px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.li-nav {
  min-width: 86px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 15px;
}

.li-nav:hover {
  border: 2px solid white;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  color: white;
  line-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.img-logo {
  display: none;
}

.img-logo-mob {
  margin-top: 100px;
  width: 180px;
  height: 20px; 
}

/* Центрируем контент в хэддере */
.logo-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-width: 0;
  max-width: 320px;
  height: auto;
}


/* Центрируем и задаем размер контенту в хэддере */
.aside-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
}

.title {
  width: 100%;
  font-size: 30px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.subtitle {
  width: 100%;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn-find {
 /* width: 280px;*/
  height: 40px;
  background-color: #ff4e50;
  font-size: 14px;
  line-height: 40px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-find:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 17px; 
}


/* Основной блок */
.section-title {
  font-size: 22px;
  color: #333333;
 /* margin-top: 74px;*/
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.section-title::first-letter {
  text-transform: capitalize;
}

.section-wrapper {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.item-wrapper {
  width: 220px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.box-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-box {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.item-img {
  width: 122px;
  height: 122px;
}

.item-status-1 {
  width: 32px;
  height: 32px;
  background-color: #ff4e50;
  background-image: url("../img/tv.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-2 {
  width: 32px;
  height: 32px;
  background-color: #1cd7ad;
  background-image: url("../img/cup.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-3 {
  width: 32px;
  height: 32px;
  background-color: #ffa507;
  background-image: url("../img/tube.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-status-4 {
  width: 32px;
  height: 32px;
  background-color: #4e73db;
  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  top: 85px;
  right: 45px;
}

.item-name {
  font-size: 14px;
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.item-about {
  font-size: 14px;
  color: #666666;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}


/* Футтер */
.fotter-wrapper {
  text-align: center;
  background-color: white;
  padding-top: 28px;
  padding-bottom: 57px;
}

.btn-other {
  font-size: 14px;
  color: #ff4e50;
  width: 188px;
  height: 36px;
  border: none;
  background-color: #ff4e50;
  border-radius: 17px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn-other::first-letter {
  text-transform: capitalize;
}

.btn-other:hover {
  background-color: transparent;
  color: #ff4e50;
  border: 2px solid #ff4e50; 
}